name: main

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.5.1
      with:
        node-version: 17.4.0
    - name: Build node project
      run: |
        npm install
        npm run build --if-present
    - name: Test node project
      run: node .
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag deeonix/copy2clipboard:latest
